@import "sizing";
@import "props";
@import "typography";
@import "colours";
@import "buttons";
@import "header";
@import "footer";
@import "forms";
@import "blocks/blocks";
@import "blog";



*,
input,
select,
textarea,
option,
button {
    outline: none !important;
}

::selection {
    background-color: var(--col-yellow-400);
    color: var(--col-black);
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.pt-6 {
    padding-top: 4rem !important;
}
.pb-6 {
    padding-top: 4rem !important;
}
.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}


.py-md-6 {
    padding-bottom: 2rem;
    @media (min-width:768px) {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
}

main {
    padding-top: calc(var(--h-top) + 1rem);
}

.container-xl .container-xl {
    padding-inline: 0;
}

a {
    transition: color var(--transition);
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    margin-top: 0;
}

main a:not([class]) {
    text-decoration: none;
    color: var(--col-blue-400);
    &:hover {
        color: var(--col-black);
    }
    // &:not([target="_blank"]) {
    //     font-weight: var(--fw-600);
    // }
}
a.noline {
    text-decoration: none;
}


@media all and (min-width:992px) {
    .cols-lg-2 {
        columns: 2;
        gap: 2rem;
    }
    .cols-lg-3 {
        columns: 3;
        gap: 2rem;
    }
}

main {
    ul,
    ul:not([class]),
    ul.wp-block-list {
        padding-inline-start: 1.25rem;
        li {
            list-style-type: square;
            margin-bottom: 0 !important;
            &::marker {
                color: var(--col-blue-400);
                font-size: var(--fs-500);
            }
        }
    }
    ul.fa-ul > li,
    ul.pagination > li.page-item {
        list-style: none;
    }
}

.location_page {
    padding-top: calc( var(--h-top) + 3rem);
}

#breadcrumbs {
    font-size: var(--fs-300);
    a { 
        font-weight: var(--fw-600);
    }
}
