.has-grey-400-background-color,
.bg-grey-400 {
    background-color: var(--col-grey-400);
}

.has-yellow-400-color {
    color: var(--col-yellow-400);
}
.has-blue-400-color {
    color: var(--col-blue-400);
}

.text-white {
    color: var(--col-white);
}
.bg-white {
    background: var(--col-white);
}