header:not(main header) {
    background-color: var(--col-yellow-400);
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: transform var(--transition);

    &.hidden {
        transform: translateY(-100%);
    }

    .nav-link {
        font-weight: var(--fw-600);
        font-size: var(--fs-400);
        color: var(--col-black);
    }
    .dropdown-toggle {
        display: flex;
        align-items: center;
        &::after {
            content: "";
            border: none;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.67 7.33'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %230073ca; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='NAV_BAR' data-name='NAV BAR'%3E%3Cpolygon class='cls-1' points='9.49 0 7.33 2.16 5.18 0 0 0 7.33 7.33 14.67 0 9.49 0'/%3E%3C/g%3E%3C/svg%3E");
            width: 15px;
            height: 7px;
            background-size: contain;
        }
    }

    .navbar-toggler {
        box-shadow: none;
        border: none;
        color: var(--col-black);
    }


    #main-menu {
        margin-top: 1rem;
        @media (min-width:992px) {
            margin-top: 0;
        }
    }

    .header_logo {
        order: 0;
    }
    .header_ctas {
        order: 2;
        text-align: center;
        .button {
            margin-bottom: 0.25rem;
        }
        div > a {
            text-decoration: none;
            color: var(--col-blue-400);
            font-weight: var(--fw-600);
        }
    }
    .header_toggle {
        order: 3;
    }
    .header_nav {
        order: 4;
    }

    @media (min-width:992px) {
        .container-xl > * {
            order: 0;
        }
        .header_ctas {
            order: 1;
        }
    }

    .dropdown-menu {
        background-color: var(--col-blue-400);
        border-radius: 0;
        border: none;
        
        a {
            color: var(--col-white);
        }

        .dropdown-item {
            transition: all 100ms ease;
        }
        .dropdown-item:hover,
        .dropdown-item:focus {
            background-color: var(--col-yellow-400);
            color: var(--col-black);
        }
    }

}