:root {
  --col-black: #1b2021;
  --col-white: #ffffff;

  --col-yellow-400: #ffe41f;
  --col-blue-400: #0073cc;

  --col-grey-400: #f5f5f5;
  --col-grey-600: #cacbcb;

  /*     --fs-999: 3.815rem; // h1
    --fs-900: 3.052rem; // h2
    --fs-800: 2.441rem; // h3
    --fs-700: 1.953rem; // h4
    --fs-600: 1.563rem; // h5
    --fs-500: 1.25rem; // h6
    --fs-400: 1rem; // body text
    --fs-300: 0.8rem; // small text
    --fs-200: 0.64rem; // tiny text */

  --fs-999: clamp(2.4rem, 5vw + 1rem, 3.815rem); // h1
  --fs-900: clamp(2rem, 4.5vw + 1rem, 3.052rem); // h2
  --fs-800: clamp(1.8rem, 4vw + 0.9rem, 2.441rem); // h3
  --fs-700: clamp(1.5rem, 3.5vw + 0.8rem, 1.953rem); // h4
  --fs-600: clamp(1.3rem, 3vw + 0.7rem, 1.563rem); // h5
  --fs-500: clamp(1.1rem, 2.5vw + 0.6rem, 1.25rem); // h6
  --fs-400: clamp(0.9rem, 2vw + 0.5rem, 1rem); // body text
  --fs-300: 0.8rem; // small text
  --fs-200: 0.7rem; // tiny text

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fw-fa-solid: 600;

  --ff-body: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  --ff-heading: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  --ff-fa: "Font Awesome 6 Free";

  --transition: 250ms ease-in-out;

  --shadow-out: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-in: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  --border-radius-sm: 0.5rem;
  --border-radius-lg: 1rem;

  --h-top: 90px;
}
