@charset "UTF-8";
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-size: 16px;
}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-style: normal;
    font-size: var(--fs-400);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: var(--ff-heading);
    font-weight: var(--fw-700);
    margin-bottom: 1rem;
    // line-height: 0.9;
    text-wrap: balance;
}

.font-weight-normal {
    font-weight: var(--fw-400) !important;
}
.font-weight-medium {
    font-weight: var(--fw-600) !important;
}
.font-weight-bold {
    font-weight: var(--fw-700) !important;
}

h1, .h1, .fs-999 {
    font-size: var(--fs-999);
    line-height: 1.1;
}
h2, .h2, .fs-900 {
    font-size: var(--fs-800);
}
h3, .h3, .fs-800, .has-x-large-font-size {
    font-size: var(--fs-700);
}
h4, .h4, .fs-700 {
    font-size: var(--fs-600);
}
h5, .h5, .fs-600{
    font-size: var(--fs-500);
}

.fs-500, .has-medium-font-size {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

strong {
    font-weight: var(--fw-600) !important;
}
.fw-bold {
    font-weight: var(--fw-700) !important;
}

.fs-300 {
    font-size: var(--fs-300);
}
.fs-200 {
    font-size: var(--fs-200);
}

h1 > span {
    color: var(--col-blue-400);
    font-style: italic;
    text-decoration: underline var(--col-blue-400) solid 0.2em;
    // border-bottom: 0.2em solid var(--col-blue-400);
}

.max-ch {
    &.text-center {
        margin: 0 auto;
    }
    max-width: 60ch;
}
.max-ch--auto {
    max-width: 90ch;
    margin: auto;
}
